.card-testimonials{
    position: relative;
    display: inline-block;
    border-radius: 20px;
    box-sizing: border-box;
    border: none;
}

.card-body-testimonials{
display: flex;
flex-direction:column;
align-items: flex-start;
padding: 16px;
gap: 6px;
width: 195px;
height: 254px;
left: 1086px;
top: 1072px;
background: #FDFFA4;
border: 1px solid #F9FE00;
border-radius: 20px;
}

.card-img{
    width: 100px;
    height: 100px;
    display: flex;
    position: absolute;
    left: 5px;
    top: 5px;
}

.card-title-testimonials{
    color: black;
    size: 10px;
}

.ard-text-testimonials{
    color: black;
}


