.card{
    position: relative;
    display: inline-block;
    border: none;
    border-radius: 20px;
}

.card-title{
    position: absolute;
    top: 70%;
    left: 15%;
    font-size: 20px;
    color: white;
    text-align: center;
}

.card-text{
    position: absolute;
    top: 80%;
    left: 20%;
    font-size: 15px;
    color: white;
    text-align: center;
}