.card-container{

    justify-content: center;
    gap: 3rem;

    div.col-sm-2{
        padding: 0;
    }

    .card{
        position: relative;
        display: inline-block;
        border: none;
        border-radius: 20px;
        padding: 0;
    }

    .card-title{
        position: absolute;
        top: 70%;
        left: 15%;
        font-size: 20px;
        color: white;
        text-align: center;
    }

    .card-text{
        position: absolute;
        top: 80%;
        left: 20%;
        font-size: 15px;
        color: white;
        text-align: center;
    }

    .card-img{
        width: 100px;
        height: 100px;
        display: flex;
        position: absolute;
        left: 5px;
        top: 5px;
    }

}

