div.card.border-dark{
    width: 30%;
    margin-left: 42rem;
    margin-top: 4rem;
    margin-bottom: 5rem;

    .card-header{
        text-align: center;
    }

    ul{
        list-style: none;
        text-align: left;
        line-height: 5rem;
    
        li{
            font-size: 1.5rem;
        }
    }
}  

.title-contact{
        font-family: 'Poppins';
        font-style: normal;
        text-align: center;
        margin: 4rem;
        font-size: 50px;
        font-weight: 700;   
}